<html>
    <head>

    </head>

    <body>
        <h3> Details du gossip </h3>
        <div> Author: <%=gossip[0] %> </div>
        <div> Contenu: <%=gossip[1] %> </div> 

        <div> Editer ce pantin : <a href="/gossip/edit/<%=index %>"> Editer </a> </div>
    </body>

</html>