<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views  !</h1>  
    <h4> Mes Gossips </h4>
    <% gossips.each_with_index do |gossip,index| %>
        <div> Author: <%=gossip[0] %> </div>
        <div> Content: <%=gossip[1] %> </div> 
        <div>  <a href="/gossip/detail/<%=index %>" > Voir le detail </a> </div>
        <br/>
    <% end %>
    <h4> Creer un gossip : <a href="/gossip/new"> Je cree un gossip </a> </h4>
  </body>
</html>